.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 768px) {
  .calendar-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .calendar-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.calendar, .calendar_weekdays, .calendar_content {
  max-width: 300px;
}

.calendar {
  float: left;
  margin: auto;
  font-weight: 400;
  /*background: #fff;*/
  padding: 10px;
  /*-webkit-box-shadow: 0px 4px 26px -22px rgba(0, 0, 0, 0.14);*/
  /*-moz-box-shadow: 0px 4px 26px -22px rgba(0, 0, 0, 0.14);*/
  /*box-shadow: 0px 4px 26px -22px rgba(0, 0, 0, 0.14);*/
}

.calendar_weekdays {
  color: #aaa;
  font-weight: 300;
  font-size: 12px;
}

.calendar_weekdays div {
  display: inline-block;
  vertical-align: top;
  color: #000;
  font-weight: 700;
}

.calendar_content, .calendar_weekdays, .calendar_header {
  position: relative;
}

.calendar_content:after, .calendar_weekdays:after, .calendar_header:after {
  content: ' ';
  display: table;
  clear: both;
}

.calendar_weekdays div, .calendar_content div {
  width: 14.28571%;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
}

.calendar_content div {
  float: left;
  margin-left: -1px;
  margin-top: -1px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.calendar_content div:hover {
  border: 1px solid #ededed;
  /*line-height: 68px;*/
  cursor: pointer;
}

.calendar_content div.blank:hover {
  cursor: default;
  border: none;
}

.calendar_content div.past-date {
  cursor: initial;
  color: #d5d5d5;
  background-color: rgba(33,37,41,0.05);
}

.calendar_content div.selected {
  background-color: rgba(180,203,104,0.27);
  border: 1px solid rgba(180,203,104,0.27);
  color: #147b42;
}

.calendar_header {
  width: 100%;
  text-align: center;
  position: relative;
  height: 50px;
  display: table;
  vertical-align: middle;
}

.calendar_header h2 {
  margin-top: 15px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  color: #000 !important;
  text-transform: uppercase;
}

button.switch-month {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #cccccc;
  -webkit-transition: color .2s;
  /*-o-transition: color .2s;*/
  transition: color .2s;
}

button.switch-month.switch-left {
  left: 0;
}

button.switch-month.switch-right {
  right: 0;
}

button.switch-month:hover {
  color: #147b42;
}

button.switch-month:active {
  background-color: transparent;
}

.calendar_content {
  font-size: 12px;
}

